<!DOCTYPE html>
<html lang="en">
<head>
    <!--<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>-->
    <script src="../js/jquery-3.2.1.slim.min.js" defer></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js" defer></script>
    <!------ Include the above in your HEAD tag ---------->
    <script src="../js/login.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.js" defer></script>
    <link href="../css/login.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
</head>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-login">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <form id="login-form" action="#" method="post" role="form" style="display: block;">
                                    <h2>LOGIN</h2>
                                    <div class="form-group">
                                        <input type="email" name="login_email" id="login_email" tabindex="1" class="form-control" placeholder="E-mail address" value="">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="login_password" id="login_password" tabindex="2" class="form-control" placeholder="Password">
                                    </div>
                                    <div class="col-xs-6 form-group pull-left checkbox">
                                        <input id="checkbox1" type="checkbox" name="remember">
                                        <label for="checkbox1">Remember Me</label>
                                    </div>
                                    <div class="col-xs-6 form-group pull-right">
                                        <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Log In">
                                    </div>
                                </form>
                                <form id="registration_form" action="#" method="post" role="form" style="display: none;">
                                    <h2>REGISTER</h2>
                                    <div class="form-group">
                                        <input type="email" name="reg_email" id="reg_email" tabindex="1" class="form-control" placeholder="E-mail Address" value="">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="reg_password" id="reg_password" tabindex="2" class="form-control" placeholder="Password">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="confirm_password" id="confirm_password" tabindex="2" class="form-control" placeholder="Confirm Password">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="first_name" id="first_name" tabindex="2" class="form-control" placeholder="First Name">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="last_name" id="last_name" tabindex="2" class="form-control" placeholder="Last Name">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="phone_number" id="phone_number" tabindex="2" class="form-control" placeholder="Phone number">
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6 col-sm-offset-3">
                                                <input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="Register Now">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-6 tabs">
                                <a href="#" class="active" id="login-form-link"><div class="login">LOGIN</div></a>
                            </div>
                            <div class="col-xs-6 tabs">
                                <a href="#" id="register-form-link"><div class="register">REGISTER</div></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="errorDiv"></div>
    </footer>